.on {
    color: white;
    background: #4CAF50 !important;
    background-color: #4CAF50 !important;
}
.off {
    color: white;
    background: #f44336 !important;
    background-color: #f44336 !important;
}
.gray {
    text-color: Green;
    background-color: #454545;
}
.clickable {
    cursor: pointer;

}
body {

}
.box{
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.panel{
    background-color: #666666;
    color: white;
    padding: 5px 10px;
    width: 340px;
    display: inline-table;
    }
.small{
    display: inline-block;
    width: 55px;
    height: 55px;
    margin: 3px;
}
.twice-big{
    display: inline-block;
    width: 300px;
    height: 50px;
    margin: 3px 5px;
}
.big{
    display: inline-block;
    width: 150px;
    height: 50px;
    margin: 3px 5px;
}
